<div class="card">
    <div class="card-body">
    <h2>Editar categoria:</h2>
    <form action="/admin/categorias/edit" method="POST">
    <input type="hidden" name="id" value="{{categoria._id}}">
    <label for="nome">Nome: </label>
        <input type="text" name="nome" placeholder="Nome da categoria" class="form-control" value ="{{categoria.nome}}" required>
    <label for="slug">Slug: </label>
        <input type="text" name="slug" placeholder="Slug da categoria" class="form-control" value="{{categoria.slug}}" required>
        <br>
    <button type="submit" class="btn btn-success ">Editar categoria</button>
    </form>
    </div>
</div>